/* PLANTY Theme child of twentytwenty Theme */
/* CSS style adaptations                    */

/* Import of font Syne from Google Fonts and setup on all pages */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

html * {
   font-family: 'Syne', sans-serif !important; 
}


/* GENERAL */
/***********/

body {
    max-width: 1440px;
	width:100%;
	margin:auto;
}

h1, h2, h3, h4, h5, h6, .faux-heading {
    letter-spacing: normal;
}

/* HEADER */
/**********/

/* logo image size */
.site-logo img {
	max-height: 1.9rem;
	max-width: 201px;
}

/* header container size */
.header-inner {
	width: 100%;
    max-width: 1440px;
	margin: 0;
	padding: 0 0 0 37px;
}

ul.primary-menu {
	margin: 0;
}

.primary-menu > li {
    margin: 0;
}

/* Navigation menu */
ul.primary-menu a {
	padding: 30px 60px 31px 0;
	margin: 0;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.9rem;
	letter-spacing: normal;
	text-decoration: none;
}

ul.primary-menu a:hover {
	font-size: 1.3rem;
	font-weight: 700;
	text-decoration: none;
}

.primary-menu li.current-menu-item > a {
    text-decoration: none;
}

.primary-menu > li > a {
	color: black !important;
}

/* last li element of menu ("commander") */
.primary-menu > li:last-child {
	background-color: #DC9F96;
	padding: 0 1px 0 61px;
}

.primary-menu > li:last-child:hover {
	background-color: #C02E44;
}

.primary-menu > li:last-child > a {
	color: white !important;
	font-size: 1.6rem;
	font-weight: 700;
}


/*                       PAGES                      */
/****************************************************/
/* classes created automatically by Theme/Gutenberg */

/* wordpress native pages title not displayed */
.entry-header {
	display:none;
}

/* blocks defined by theme */
.post-inner {
	padding: 0;
}

.wp-block-image {
	margin: 0 !important;
}

.post-meta-wrapper {
	display: none;
}

/* container into a banner block */
.wp-block-cover__inner-container {
	width: 100% !important;
	padding: 0 !important;
}

/*              PAGES GUTENBERG                   */
/**************************************************/
/* classes defined manually into Gutenberg blocks */

/* PAGE Accueil */
/****************/

.accueil_parfum_row {
	gap: 30px;
}

.accueil_parfum_title {
	font-size: 48px !important;
	line-height: 58px;
}


.accueil_button_commander {
	width: auto !important;
}
.accueil_button_commander > a {
	font-size: 1.5rem !important;
    font-weight: 400 !important;
	line-height: 3.7rem !important;
	text-transform: none !important;
	letter-spacing: normal !important;

	margin: 47px 0 29px 0 !important;
	padding: 9px 57px 9px 56px !important;
	border: none !important;
	border-radius: 5px !important;
	text-align: center !important;
	background-color: #E0B9B4 !important;
}
.accueil_button_commander >a:hover {
	background-color: #C02E44 !important;
	text-decoration: none !important;
}

.accueil_witness_row {
	display:grid !important;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px !important;
}

.accueil_witness_subrow {
	display:grid !important;
	grid-template-columns: 1fr 1fr;
}


.accueil_witness_column {
	margin-right: 0 !important;
	margin-left: 0 !important;
	display: block !important;
	width: 196px;
}

/* responsive for accueil_witness rows */

@media (max-width: 1300px) {
	.accueil_witness_row {
		display:grid !important;
		grid-template-columns: 1fr;
		margin-bottom: 250px !important;
	}
}
@media (max-width: 600px) {
	.accueil_witness_row {
		padding: 0 !important;
		margin-bottom: 350px !important;
	}
}


/* PAGE Rencontrer */
/*******************/

.rencontrer_title_row {
	display:grid !important;
	grid-template-columns: 1fr 1fr;
}

.rencontrer_flower {
	width: 191px !important;
}

.rencontrer_title {
	width: 680px !important;
	white-space: nowrap;
}

.rencontrer_subtitle > div > p {
	max-width: 680px !important;
}

.rencontrer_team_row {
	display:grid !important;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 157px !important;
}

.rencontrer_team_column {
	margin-right: 0 !important;
	margin-left: 0 !important;
	display: block !important;
	width: 167px;
}

.rencontrer_team_foliage > figure {
	margin: 0 !important;
}

.rencontrer_team_foliage > figure > img {
	position: relative;
	right: -1190.21px;
	bottom: 215.92px;
}

/* contact form */
.rencontrer_form {
	margin-top: -153px;
	margin-bottom: 0;
	display: flex !important;
	justify-content: center !important;
}
.rencontrer_contact_subtitle {
	margin: 0 !important;
	text-align: center;
	padding-bottom: 23px !important;
	font-size: 3.0rem !important;
    font-weight: 700 !important;
	line-height: 3.6rem !important;
	color: black;
}

.rencontrer_contact_label {
	margin: 22px 0 0 0;
	font-size: 2.0rem !important;
    font-weight: 400 !important;
	line-height: 2.4rem !important;
	color: black;
}

.rencontrer_contact_field {
	font-family: 'inter', sans-serif !important; 
	margin: 13px 0 0 0!important;
	padding: 0 !important;
	max-width: 383px !important;
	height: 71px !important;
	font-size: 1.6rem !important;
    font-weight: 400 !important;
	line-height: 1.9rem !important;
	border: none !important;
	border-radius: 7px !important;
	text-align: left !important;
}

.rencontrer_contact_field_message {
	font-family: 'inter', sans-serif !important; 
	margin: 13px 0 0 0!important;
	padding: 0 !important;
	max-width: 383px !important;
	height: 237px !important;
	font-size: 1.6rem !important;
    font-weight: 400 !important;
	line-height: 1.9rem !important;
	border: none !important;
	border-radius: 7px !important;
	text-align: left !important;
}


.rencontrer_contact_submit_container {
	display: flex !important;
	justify-content: center !important;
}


.rencontrer_contact_submit {
	margin: 24px 0 0 0 !important;
	padding: 9px 0 9px 0 !important;
	width: 198px;
	font-size: 1.5rem !important;
    font-weight: 400 !important;
	line-height: 3.7rem !important;
	border: none !important;
	border-radius: 5px !important;
	text-align: center !important;
	background-color: #E0B9B4 !important;
	text-transform: none !important;
	letter-spacing: normal !important;
}

.rencontrer_contact_submit:hover {
	background-color: #C02E44 !important;
	text-decoration: none !important;
}

.rencontrer_contact_foliage > figure {
	margin: 0 !important;
}

.rencontrer_contact_foliage > figure > img {
	position: relative;
	right: -442px;
	bottom: 224.79px;
	z-index: -1;
}

.rencontrer_frise {
	margin-top: -105px !important;
}



/* responsive for Rencontrer page */
/* small devices (tablets, mobiles) */
@media (max-width: 1000px) {
	.rencontrer_title_row {
		display:grid !important;
		grid-template-columns: 1fr;
		padding: 20px !important;
	}
	
	.rencontrer_title {
		width: auto !important;
		white-space: inherit;
	}
	
	.rencontrer_subtitle > div > p {
		max-width: none !important;
	}

	.rencontrer_team_row {
		display:grid !important;
		grid-template-columns: 1fr;
		gap: 50px !important;
		padding: 20px !important;
	}
}




/* PAGE Commander */
/******************/

.page_commander_groupe {
    max-width: 860px !important;
	width:100%;
	margin:auto;
}

.command_form {
	margin-top: 15.64px;
}



/* classes defined manually into Contact 7 plugin */

/* command form */
.command_quantities {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.command_quantity {
	font-family: 'inter', sans-serif !important; 
	margin: 0 76px 39px 77px!important;
	padding: 0 !important;
	width: 39px !important;
	height: 56px !important;
	font-size: 1.6rem !important;
    font-weight: 400 !important;
	line-height: 1.9rem !important;
	border: none !important;
	text-align: right !important;
}

.command_separator_line {
	margin: 0 0 55px 0 !important;
}

.command_contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.command_contact > fieldset:first-child {
	border: none;
	padding: 0;
}
.command_contact > fieldset:last-child {
	border-color: white;
	border-width: 1px;
	border-top:  none;
	border-right:  none;
	border-bottom:  none;
	padding: 0 0 0 44px;
}

.command_subtitle {
	margin: 0 !important;
	font-size: 3.0rem !important;
    font-weight: 700 !important;
	line-height: 3.6rem !important;
	color: white;
}

.command_label {
	margin: 30px 0 0 0;
	font-size: 2.0rem !important;
    font-weight: 400 !important;
	line-height: 2.4rem !important;
	color: white;
}

.command_field {
	font-family: 'inter', sans-serif !important; 
	margin: 13px 0 0 0!important;
	padding: 0 !important;
	max-width: 383px !important;
	height: 71px !important;
	font-size: 1.6rem !important;
    font-weight: 400 !important;
	line-height: 1.9rem !important;
	border: none !important;
	border-radius: 7px !important;
	text-align: center !important;
}

.command_submit_container {
	display:flex !important;
	justify-content: center !important;
}

/* disable spinner when submit button is clicked */
.wpcf7-spinner {
	display: none;
}

.command_submit {
	margin: 44px 0 93px 20px !important;
	padding: 9px 57px 9px 56px !important;
	font-size: 1.5rem !important;
    font-weight: 400 !important;
	line-height: 3.7rem !important;
	border: none !important;
	border-radius: 5px !important;
	text-align: center !important;
	background-color: #E0B9B4 !important;
	text-transform: none !important;
	letter-spacing: normal !important;
}

.command_submit:hover {
	background-color: #C02E44 !important;
	text-decoration: none !important;
}

/* separator block design global change into theme */
.entry-content hr::before, .entry-content hr::after {
	display: none;
}

/* specific form and global theme */
.command_separator_line, .entry-content hr {
	color: white !important;
	background-color:white !important;
}

/* responsive for Command form */
/* Medium devices (tablets) */
@media (max-width: 860px) {
	.command_quantities {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.command_contact {
		display: grid;
		grid-template-columns: 1fr;
	}
}
/* Very small devices */
@media (max-width: 320px) {
	.command_quantities {
		display: grid;
		grid-template-columns: 1fr;
	}
}

/*                  FOOTER                          */
/* classes created automatically by Theme/Gutenberg */
/****************************************************/

/* Footer Bottom container */
#site-footer {
    padding-top: 20px;
    padding-bottom: 21px;
}

.footer-top-hidden #site-footer {
	margin: 0;
}

#site-footer .section-inner {
	justify-content: center;
	font-size: 1.6rem;
    font-weight: 400;
}

#site-footer li {
	line-height: 1.9rem;
}

#site-footer a {
	color: black;
}